Repository muhandojeon/Clean-Code, pull requests merged in 2025-08, with the labels that each got.

#22 [최서희] 5장, 6장, 7장 : 형식 맞추기 외 2장
  5장/최서희.md
  6장/최서희.md
  7장/최서희.md
Labels: 5장, 6장, 7장

#24 [최호] 11장, 12장, 13장: 시스템 외 2장
  11장/최호.md
  12장/최호.md
  13장/최호.md
Labels: 11장, 12장, 13장

#27 [최서희] 11장, 12장, 13장: 시스템 외 2장
  11장/최서희.md
  12장/최서희.md
  13장/최서희.md
Labels: 11장, 12장, 13장

#28 [한상호] 11장, 12장, 13장: 시스템 외 2장
  11장/한상호.md
  12장/한상호.md
  13장/한상호.md
Labels: 11장, 12장, 13장

#30 [전호영] 11장, 12장, 13장: 시스템 외 2장
  11장/전호영.md
  12장/전호영.md
  13장/전호영.md
Labels: 11장, 12장, 13장

#15 [문희상] 3장, 4장 : 함수, 주석
  3장/문희상.md
  4장/문희상.md
Labels: 3장, 4장

#21 [최서희] 3장, 4장 : 함수, 주석
  3장/최서희.md
  4장/최서희.md
Labels: 3장, 4장

#31 [최호] 14장: 점진적인 개선
  14장/최호.md
Labels: 14장

#33 [한상호] 14장: 점진적인 개선
  14장/한상호.md
Labels: 14장

#34 [최서희] 14장: 점진적인 개선
  14장/최서희.md
Labels: 14장

#35 [공예영] 14장: 점진적인 개선
  14장/공예영.md
Labels: 14장

#36 [황동준] 14장: 점진적인 개선
  14장/황동준.md
Labels: 14장
