Repository muhandojeon/Clean-Code, pull requests merged in 2025-09, with the labels that each got.

#9 [공예영] 3장, 4장 : 함수, 주석
  3장/공예영.md
  4장/공예영.md
Labels: 3장, 4장

#37 [전호영] 15장,16장,17장 : JUnit 들여다보기, SerialDate 리팩터링, 냄새와 휴리스틱
  15장/전호영.md
  16장/전호영.md
  17장/전호영.md
Labels: 15장, 16장, 17장

#39 [최서희] 15장,16장,17장 : JUnit 들여다보기, SerialDate 리팩터링, 냄새와 휴리스틱
  15장/최서희.md
  16장/최서희.md
  17장/최서희.md
Labels: 15장, 16장, 17장

#40 [한상호] 15장,16장,17장 : JUnit 들여다보기, SerialDate 리팩터링, 냄새와 휴리스틱
  15장/한상호.md
  16장/한상호.md
  17장/한상호.md
Labels: 15장, 16장, 17장

#41 [최서희] 8장, 9장, 10장: 경계, 단위 테스트, 클래스
  10장/최서희.md
  8장/최서희.md
  9장/최서희.md
Labels: 8장, 9장, 10장
